/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $neonRed;
  border-radius: 100rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $neonRed;
}