/* Color Variables */
  $black: #1f2937;

  $neonRed: rgba(255, 0, 85, 1);
  $neonRedFade: rgba(255, 0, 85, 0.1);
  $neonRedHover: #fa276d;

  $neonGreen: rgba(0, 255, 170, 1);
  $neonGreenFade: rgba(0, 255, 170, 0.1);

  $grey: #c9c9c9;

/* Nav Variables */ 
  $nav-toggle-bar-height: 0.5rem;
  $nav-toggle-bar-width: 5.5rem;
  $nav-width: 100vw;
  $z-nav-toggle: 10;
  $z-nav: 9;